body {
    font-family: cursive;
    margin: 0;
    padding: 0;
}


.sidebar {
    background-color: #262749;
    color:white ;
    width: 200px; 
    height: 100%; 
    position: fixed; 
    top: 0;
    left: 0; 
    padding: 20px;
}

footer{
font-size: large;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    
  }

.main-content {
    margin-left: 220px; 
    padding: 50px;
    position:relative;
    bottom:100px
    width: 500px;
}

.firstname{
   font-size: 30px;
   
}