body {
    font-family: Cambria, Cochin, Times, 'cambria', serif;
    margin: 0;
    padding: 0;
}
.sidebar {
    background-color: #120e2c;
    color:white ;
    width: 200px; /* Adjust the width of the sidebar as needed */
    height: 100%; /* Make the sidebar the full height of the viewport */
    position: fixed; /* Fixed position to keep the sidebar in view */
    top: 0; /* Position at the top of the viewport */
    left: 0; /* Position at the left side of the viewport */
    padding: 20px;
}

.main-content {
    margin-left: 220px; /* Adjust the margin to accommodate the sidebar width */
    padding: 50px;
}